<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find the Best School</title>
</head>
<body>


  <!-- Hero Section -->
  <div class="hero">
    <h1>FIND THE BEST SCHOOL FOR YOUR CHILD</h1>

    <div class="search-box">
      <form action="/search" method="GET">
      <input type="text" name="cityFromSearch" placeholder="Enter The City..."  required>
      <button type="submit">Search</button>
      </form>
    </div>
  </div>

</body>
</html>
